# View Data

In [1]:
from parse_data import TextsinlevelsDB

In [2]:
textsinlevels = TextsinlevelsDB(db_name="textsinlevels")
df_news = textsinlevels.write_from_table_to_df("newsinlevels")
df_days = textsinlevels.write_from_table_to_df("daysinlevels")
del textsinlevels

In [3]:
def print_general_info(df):
    print("The number of texts:", df.shape[0])
    print(
        f"The number of texts for each level:\n{df['level'].value_counts().sort_index()}"
    )

### View Data from the Dataset with News (https://www.newsinlevels.com)

In [4]:
print_general_info(df_news)

The number of texts: 9817
The number of texts for each level:
1    3273
2    3272
3    3272
Name: level, dtype: int64

In [5]:
df_news.head()

,date,heading,article_text,level
0,15-01-2022 12:00,Test your English,We have a test for students of English. You ca...,1
1,14-01-2022 15:00,World’s best skater can go to the Olympics,Erin Jackson is an American athlete. She is th...,1
2,14-01-2022 07:00,Man with a pig heart,"David Bennet comes from Maryland, US. He is 57...",1
3,13-01-2022 15:00,New mirror in space,A rocket goes in space two weeks ago. It carri...,1
4,13-01-2022 07:00,Hainan towers,The Evergrande Group is a Chinese company. It ...,1

### View Data from the Dataset with Texts about Famous Days (https://www.daysinlevels.com)

In [6]:
print_general_info(df_days)

The number of texts: 477
The number of texts for each level:
1    159
2    159
3    159
Name: level, dtype: int64

In [7]:
df_days.head()

,date,heading,article_text,level
0,12-01-2010,The day the earthquake hit Haiti,Millions of people live in Haiti. Haiti is a p...,1
1,10-01-1789,The day of the first US presidential election,"It is December 15, 1788. It is time when the e...",1
2,10-01-49 BC,The day Caesar crossed the Rubicon,"Two thousand years ago, Rome is a republic. Ro...",1
3,09-01-1959,The day Fidel Castro took control over Cuba,It is 1956. Fidel Castro wants a revolution in...,1
4,05-01-1933,The day the Golden Gate Bridge construction st...,The Golden Gate Bridge is a symbol of San Fran...,1